/* --------------------------------------
   Global Styles
-----------------------------------------*/

body {
    background-color: #fff;
}

.main-title h2 {
    color: #444;
    font-weight: 800;
    font-size: 44px;
    letter-spacing: 0;
}

.main-title h2:before,
.main-title h2:after {
    height: 2px;
    width: 28%;
    background: linear-gradient(to left, #e6972c 7%, #f75b10 93%);
}
.contact-p{
    margin-bottom: 0;
    line-height: 20px;
    color: #c2c0c3;
    font-weight: 700;
    letter-spacing: .3px;
    color: #555;
}
.contact-p:hover{
    color: #555;
}

.main-title h2 .main-color {
    color: #f75b10;
}

.main-title span i {
    background: #fff;
    color: #f75b10;
    font-size: 16px;
}

.main-btn {
    color: #f75b10;
    border: 2px solid #e6972c;
}

.main-btn:hover {
    background: linear-gradient(to bottom, #e6972c 7%, #f75b10 93%);
}

/* --------------------------------------
    Loading
-----------------------------------------*/

.preloader {
    background: #041331;
}

.preloader .loading-inner:before,
.preloader .loading-inner:after {
    border: 2px solid #f75b10;
}

/* --------------------------------------
    Control Bar
-----------------------------------------*/

.control-bar {
    background-color: #041331;
}

.control-bar .logo-brand span {
    background: linear-gradient(to bottom, #e6972c 7%, #f75b10 93%);
    -webkit-background-clip: text;
    color: transparent;
}

.control-bar .menu-toggle .bar {
    background: linear-gradient(to bottom, #e6972c 7%, #f75b10 93%);
}

/* --------------------------------------
    Slide Menu
-----------------------------------------*/

.slide-menu {
    background-color: #041331;
}

.slide-menu .logo {
    border-bottom: 1px solid rgba(255, 255, 255, .02);
}

.slide-menu .logo .logo-brand {
    color: #fff;
}

.slide-menu .logo .logo-brand span {
    background: linear-gradient(to bottom, #e6972c 7%, #f75b10 93%);
    -webkit-background-clip: text;
    color: transparent;
}

.slide-menu .menu-list li {
    border-top: 1px solid #06173a;
    border-bottom: 1px solid #051127;
}

.slide-menu .menu-list li a {
    color: #bebfbf;
}

.slide-menu .menu-list li a:after {
    background-color: #f75b10;
}

.slide-menu .menu-list li a span {
    color: #f75b10;
}

.slide-menu .social-media li a {
    color: #bebfbf;
    border: 1px solid #bebfbf;
}

.slide-menu .social-media li a:hover {
    background: #f75b10;
    border: 1px solid #f75b10;
}

/* --------------------------------------
    Home
-----------------------------------------*/

.home {
    background: url('../images/home2.jpg') center center no-repeat fixed;
    background-size: cover;
}

.home .intro h3 span {
    background: linear-gradient(to bottom, #e6972c 7%, #f75b10 93%);
    -webkit-background-clip: text;
    color: transparent;
}

/* --------------------------------------
   About Me
-----------------------------------------*/

.about-me {
    color: #444;
}

.about-me .about-image {
    background: linear-gradient(-50deg, #f75b10 62%, transparent 25%);;
    box-shadow: 0 0 10px #d9d9d9;
}

.about-me .about-image img {
    opacity: 1;
}

.about-me .about-info h3 {
    color: #444;
    font-size: 23px;
    letter-spacing: .5px;
    line-height: 1.3;
}

.about-me .about-info h3:before {
    background: linear-gradient(to left, #e6972c 7%, #f75b10 93%);
}

.about-me .about-info h4 {
    color: #444;
    font-size: 30px;
    line-height: 1.3;
    letter-spacing: .1px;
}

.about-me .about-info p {
    color: #555;
}

.about-me .about-info .btn-download {
    /* background: linear-gradient(to bottom, #e6972c 7%, #f75b10 93%); */
    color: #fff;
    /* border-radius: 20px; */
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    background-color: #232882!important;
    border:0px;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 1.9rem 3.2rem;
    text-transform: uppercase;
    white-space: nowrap;
    will-change: box-shadow;
    transition: background-color .25s ease,box-shadow .25s ease,transform .25s ease;
}
.btn-download:hover{
    transform: translateY(1px);
    box-shadow: 0 0 5px 1px rgba(0,0,0,.3);
    background-color: #ff1e50;
    text-decoration: none;
    background-color: #f75b10!important;
}

/* --------------------------------------
    Services
-----------------------------------------*/

.services {
    background: #041331;
}

.services .main-title h2 {
    color: #fff;
}

.services .main-title span i {
    background: #041331;
}

.services .service .service-icon:after {
    border-top: 1px solid #06173a;
    border-bottom: 1px solid #051127;
}

.services .service .service-icon i {
    background: #041331;
    color: #f75b10;
    border: 1px solid #f75b10;
}

.services .service:hover .service-icon i {
    background: rgba(247, 91, 16, .8);
}

.services .service h4 {
    color: #fff;
}

.services .service p {
    color: #bebfbf;
}

/* --------------------------------------
    Resume
-----------------------------------------*/

.resume {
    color: #fff;
}

.resume .resume-item {
    border: 3px solid #efefef;
    box-shadow: 0 0 10px rgba(153, 153, 153, .1);
}

.resume .resume-item .resume-icon {
    color: #f75b10;
    opacity: .5;
}

.resume .resume-item .resume-date {
    color: #444;
    border-bottom: 1px solid #f3f1f1;
}

.resume .resume-item h4 {
    background: linear-gradient(to bottom, #e6972c 7%, #f75b10 93%);
    -webkit-background-clip: text;
    color: transparent;
    border-top: 1px solid #f7f5f5;
    font-size: 18px;
}

.resume .resume-item span {
    color: #444;
    border-bottom: 1px solid #f3f1f1;
}

.resume .resume-item p {
    color: #555;
    border-top: 1px solid #f7f5f5;
}

/* --------------------------------------
    Skills
-----------------------------------------*/

.skills {
    background: #041331;
}

.skills .main-title h2 {
    color: #fff;
}

.skills .main-title span {
    background: #041331;
}

.skills .main-title span i {
    background: #041331;
}

.skills .box .chart {
	color: #fff;
}

.skills .box h4 {
    color: #fff;
    font-weight: 600;
    padding-bottom: 20px;
    text-align: left;
}
.skills .box ul li{
    color: #bebfbf;
    line-height: 1.8;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 15px;

}



/* links */
.links h4 i{
    margin-right: 10px;
    color: #f75b10;
    vertical-align: top;
    border:1px solid transparent;
    height: 31px;
    width: 31px;
    border-radius: 50%;
    text-align: center;
    padding-top: 6px;
    margin-top: -7px;

}
.links a:hover i{
    border: 1px solid #fff;

}
.links h4{
    color: #fff;
    font-weight: 600;
    padding-bottom: 5px;
    text-align: left;
}
.links p{
    padding-left: 46px;
    color: #bebfbf;
    font-weight: 600;
}
.links .profile-box{
    padding-bottom: 30px;

}
.portfolio-content .text-center{
    position: relative;
}
.portfolio-links{
    position: absolute;
    left: 37%;
    top: -80px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    background-color: #232882;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    padding: .9rem 3.2rem;
    text-transform: uppercase;
    white-space: nowrap;
    will-change: box-shadow;
    transition: background-color .25s ease,box-shadow .25s ease,transform .25s ease;
}
.portfolio-links:hover{
    transform: translateY(1px);
    box-shadow: 0 0 5px 1px rgba(0,0,0,.3);
    background-color: #ff1e50;
    text-decoration: none;
}
/* --------------------------------------
    Portfolio
-----------------------------------------*/

.portfolio .list-filter li {
    color: #444;
    border: 2px solid #f75b10;
}

.portfolio .list-filter li:before {
    border: none;
}

.portfolio .list-filter .active {
    background: #f75b10;
    color: #fff;
}

.portfolio .portfolio-content .item .overlay {
    background-color: rgba(204, 204, 204, .9);
}

.portfolio .portfolio-content .item .overlay .icon-img {
    background-color: #f75b10;
    border: 1px solid #f75b10;
}

.portfolio .portfolio-content .item .overlay .item-title {
    color: #444;
    font-weight: 600;
}

.portfolio .portfolio-content .item .overlay .item-category span {
    color: #f75b10;
}

/* --------------------------------------
    Fun Facts
-----------------------------------------*/

.facts {
    background: #041331;
}

.facts .fact-item .fact-icon:after {
    border-top: 1px solid #06173a;
    border-bottom: 1px solid #051127;
}

.facts .fact-item .fact-icon i {
    background: #041331;
    color: #f75b10;
    border: 1px solid #f75b10;
}

.facts .fact-item:hover .fact-icon i {
    background: rgba(247, 91, 16, .8);
}

.facts .fact-item h4 {
    color: #fff;
}

.facts .fact-item .fact-number {
    color: #bebfbf;
}

/* --------------------------------------
    Testimonials
-----------------------------------------*/

.testimonials .owl-theme .owl-dots .owl-dot span {
    border: 1px solid #f75b10;
}

.testimonials .owl-theme .owl-dots .owl-dot.active span,
.testimonials .owl-theme .owl-dots .owl-dot:hover span {
	background: linear-gradient(to bottom, #e6972c 7%, #f75b10 93%);
}

.testimonials .owl-theme .owl-dots .owl-dot.active span {
    -webkit-box-shadow: 0 0 0 0 rgba(247, 91, 16, .6);
            box-shadow: 0 0 0 0 rgba(247, 91, 16, .6);
}

@-webkit-keyframes pulse
{
    to
    {
        -webkit-box-shadow: 0 0 0 7px rgba(247, 91, 16, 0);
                box-shadow: 0 0 0 7px rgba(247, 91, 16, 0);
    }
}

@keyframes pulse
{
    to
    {
        -webkit-box-shadow: 0 0 0 7px rgba(247, 91, 16, 0);
                box-shadow: 0 0 0 7px rgba(247, 91, 16, 0);
    }
}

.testimonials .testimonial-box {
	background: #041331;
    border-image: 1 linear-gradient(to bottom, #e6972c 7%, #f75b10 93%);
}

.testimonials .testimonial-box .client-pic img {
	border: 2px solid #06173a;
    background: #041331;
}

.testimonials .client-details h6 {
	color: #fff;
}

.testimonials .client-details span {
    color: #f75b10;
}

.testimonials .testimonial-box .description .quote-left {
    color: #646d7d;
}

.testimonials .testimonial-box .description .quote-right {
    color: #646d7d;
}

.testimonials .testimonial-box .description p {
    color: #bebfbf;
}

/* --------------------------------------
    Blog
-----------------------------------------*/

.blog {
    background: #041331;
    color: #fff;
}

.blog .main-title h2 {
    color: #fff;
}

.blog .main-title span i {
    background: #041331;
}

.blog .post {
    background: #fff;
    border-image: 1 linear-gradient(to left, #e6972c 7%, #f75b10 93%);
}

.blog .post-img {
    background: linear-gradient(-50deg, #f75b10 62%, transparent 25%);
    box-shadow: 0 0 10px rgba(239, 239, 239, .1);
}

.blog .post-img img {
    opacity: 1;
}

.blog .post .post-content .post-title h4 {
    color: #444;
    font-size: 18px;
}

.blog .post .post-content .post-title h4:hover {
    color: #f75b10;
}

.blog .post .post-content .post-info {
    border-bottom: 1px solid #eee;
}

.blog .post .post-content .post-info li {
    color: #555;
}

.blog .post .post-content .post-info li a span {
    color: #555;
}

.blog .post .post-content .post-info li a span:hover {
    color: #f75b10;
}

.blog .post .post-content .post-text p {
    border-top: 1px solid #ddd;
    color: #555;
}

.blog .post .post-content .post-more {
    color: #444;
    font-weight: 800;
}

.blog .post .post-content .post-more:hover {
    color: #f75b10;
}

/* --------------------------------------
    Contact
-----------------------------------------*/

.contact .contact-box .title-box .icon-box:after {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #eee;
}

.contact .contact-box .title-box .icon-box i {
    background: #fff;
    color: #f75b10;
    border: 1px solid #f75b10;
}

.contact .contact-box:hover .title-box .icon-box i {
    background: rgba(247, 91, 16, .8);;
}

.contact .contact-box .title-box .name-box h4 {
    color: #444;
    font-weight: 800;
}

.contact .contact-box .content-box p {
    color: #555;
}

.contact .contact-form {
    background: #041331;
    box-shadow: 0 0 10px rgba(238, 238, 238, .1);
}

.contact .contact-form .form-group .form-control {
    background-color: #041331;
    color: #fff;
    border-bottom: 1px solid rgba(190, 191, 191, .4);
}

.contact .contact-form .form-group label {
    color: #555;
}

.contact .contact-form .form-group .form-control:focus ~ label {
    color: #f75b10;
}

.contact .contact-form .form-group .input-border {
    background-color: #f75b10;
}

.contact .contact-form .main-btn {
    border-color: #f75b10;
}

/* --------------------------------------
    Footer
-----------------------------------------*/

.footer {
    background-color: #041331;
    color: #fff;
}

.footer .logo {
    color: #fff;
}

.footer .logo span {
    background: linear-gradient(to bottom, #e6972c 7%, #f75b10 93%);
    -webkit-background-clip: text;
    color: transparent;
}

.footer .footer-social-icons li a {
    color: #bebfbf;
    border: 1px solid #bebfbf;
}

.footer .footer-social-icons li a:hover {
    background: #f75b10;
    border: 1px solid #f75b10;
}

.footer .copyright p a {
    background: linear-gradient(to bottom, #e6972c 7%, #f75b10 93%);
    -webkit-background-clip: text;
    color: transparent;
}

/* --------------------------------------
    Scroll To Top
-----------------------------------------*/

.scroll-top {
    background: linear-gradient(to bottom, #e6972c 7%, #f75b10 93%);
}



.home li {
    /* border-top: 1px solid #06173a; */
    /* border-bottom: 1px solid #051127; */
    display: inline-block;
    margin-right: 15px;
}

.home li a {
    color: #bebfbf;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    padding-top: 9px;
}
.home ul{
    padding-left: 0px;
    margin-top: 20px;
}
.home li a i {
    font-size: 18px;
}
.home li a:after {
    background-color: #f75b10;
}

.home li a span {
    color: #f75b10;
}

.home li a {
    color: #fff;
    border: 1px solid #fff;
}

.home li a:hover {
    background: #f75b10;
    border: 1px solid #f75b10;
}